<!doctype html>

<html>

    <head>
        <title>OUAP4314</title>
        <meta charset="utf-8" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>

    <body>
    	<div id="navegacao">
			<div id="area">
				<h1 id="logo"><span class="verde">Monuments de Paris</h1>
			</div>
		</div>
			<div id="area-principal">
			{% if myvar %}
			<h1>{{myvar}}</h1>
			{% else %}
			<h1>No variable </h1>
			{% endif %}
        	<div id="postagem">
        	<form method="post" action="/search">
        	<input type="text" name= "title"  placeholder="">
        	<button  font-family: "Trebuchet MS" type="button"> Search</button>
        	</form> 
        	</div>  
        	{% for link in links %}
        	<div id="postagem">{{ link }}</div>  
			{% endfor %}
        </div>

    </body>

</html>



